* {
    padding: 0;
    margin: 0;
}

body {
    /* background-color: black;
    
    background: linear-gradient(0deg, rgba(140,34,191,1) 0%, rgba(18,11,107,1) 100%);
    
    color: black; */
   
    background-color: black;
    background-image: url('../assets/quantum-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;
    margin: 0;
    padding: 0;
    
    transition: background-color 0.5s ease;

    font-family: "Fira Code";
}

h3 {
    display: block;
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
    max-width: 60%;
    color: white;
}

.geem-logo {
    display: block;
    margin: 0 auto;
    max-width: 70%;
    filter: brightness(200%);
}

.centered-div {
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%)
}

/* .github-container{
    width: 250px;
    height: 50px;
    line-height: 50px;
    background-color: grey;
    margin: 10px;
    border-radius: 10px;
    border: 4px solid white;
    text-align: center;
    display: flex;
    align-items: center;
} */

.github-img {
    width: 30px;
    height:30px;
    margin-right: 50px;

}
.zenodo-img {
    width: 50px;
    height: 25px;
    margin-right: 50px;

}
.email-img {
    width: 30px;
    /* width: fit-content; */
    height: 30px;
    margin-right: 40px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Fira Code';
  }

ul{
    width: fit-content;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    list-style: none;
}

/* make hover change colors (bg black, letter white / bg white, letter black) */
li {
    color: white;
    font-size: 20px;
    text-align: center;
}