* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    background-image: url('../assets/quantum-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease;
    font-family: 'Fira Code';
}

h3 {
    display: block;
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
    max-width: 60%;
    color: white;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    justify-content: center;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 99px;
    cursor: pointer;
    font-family: 'Fira Code';
  }

ul{
    width: fit-content;
    margin: 0 auto;
    padding: 0;
    /* display: flex; */
    list-style: none;
}

/* make hover change colors (bg black, letter white / bg white, letter black) */
li {
    color: white;
    font-size: 20px;
    text-align: center;
}

.geem-logo {
    display: block;
    margin: 0 auto;
    max-width: 70%;
    filter: brightness(200%);
}

.centered-div {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 100vh;

}

.github-img {
    width: 30px;
    height:30px;
    margin-right: 50px;

}
.zenodo-img {
    width: 50px;
    height: 25px;
    margin-right: 50px;

}
.email-img {
    width: 30px;
    /* width: fit-content; */
    height: 30px;
    margin-right: 40px;
}
